{% extends "base.html" %}
    {% block title %}
		{{article.title|title}}
    {% endblock title %}

    
{% block content %}

{% load humanize %}

<br>

	<div class="row" >
<div class="container">
		<div id="news-id-wrapper" class="span8 offset3" style="margin: 0px; padding: 0px; background-color: white; color:black; border:1px solid black;">
				
		<div class="span8" style="margin:0px; background-color: #21BB21; ">

		<ul class="nav nav-tabs" style="color:black; margin: 0px; padding-left: 5px;">

		{% for category in categories %}

			<li class="{% ifequal category article.category %}active{% endifequal %}">
				<a href="/category/{{category.pk}}/" style="font-size: 15px; text-shadow: 0px 2px 2px #777; ">
					<strong>{{category}}</strong>	
</a>
			</li>

		{% endfor %}

		</ul>

	</div>

  				<div>
			<center style="background-color: #3F3F3F; color:white;">
				<span style="font-size: 40px; text-shadow: 0px 2px 3px gray;"><strong>{{article.category}}</strong></span>
			</center>
		</div>
			<p id="paragraph" style="font-size: 30px; padding-left: 10px; text-shadow: 0px 2px 3px #555"><strong>{{article.title|title}}</strong></p>


		  <img src="https://graph.facebook.com/{{article.user_id.facebook_id}}/picture" class = "img-circle" style = "width:25px; height:25px;">  
			
			<span class="created-by">
				-  {{article.user_id.facebook_name}}
			</span>
			
<hr style="margin-top: 2px; border-color: black;">
				{% if article.photo %}
						<img class="span2" id = "news-photo" src="{{MEDIA_URL}}{{article.photo}}" alt="">
					{% endif %}

			<p style="padding-right: 20px; padding-left: 5px;">{{article.content|linebreaksbr}}
			</p>

		</div>
		<div class="span4" style="color:black; background-color: white; border:black solid 1px; width: 370px; margin-left:0px;">
			<div style="height: 390px;">
			<center style="font-size: 32px;">	 
				<span style=" margin:0px;">
				Comentarios</span> 
			</center>
						<hr style="margin: 0px 0px 2px 0px; border: 1px solid;">

					{% for comment in comments %}
						<div style="margin: 5px 20px;">
							<div style="float:left; ">
							<img src="https://graph.facebook.com/{{comment.user.facebook_id}}/picture" class = "img-rounded" style = "width:36px; height:36px; " /> 
							</div> 
							<div style="margin-top:20px; margin-left: 44px;">
								<a href="#" class="myriad-pro" style="color:#4AACFF; font-size: 15px;">{{comment.user.facebook_name|title}} 
								</a>
								- <small>{{comment.submit_date|naturaltime }}</small>
							</div>
							<p class="paragraph" style="margin-left: 44px;">{{comment.comment}}</p>
							<hr>
						</div>
					{% endfor %}
			</div>
			

						<hr style="margin: 0px 0px 2px 0px; border: 1px solid;">

<div>
				<form action="/addcomment/{{article.pk}}" method="post">
					<center>{{comentaryform.as_p}}
					{% csrf_token %}

					<input type="submit" class="btn btn-success" style="margin-left: 254px; margin-bottom: 0px; width:100px; height: 40px;" value="Enviar" />
					</center>
				</form>
			</div>
			
	</div>			
</div>
</div>
{% endblock content %}






