{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}

<br>
<div class="row" >
	<div class="span3" style="background-color:#3B7CE4; width: 300px; margin-left:70px;">
		<center style="font-size: 35px; ">	 
			<div style="height: 40px; padding-top:10px; border-bottom: 1px solid white;">
				Top Articulos
			</div> 
			<hr style="margin: 0px;">
		</center>
		<div id="popular-wrapper" class="scroll-pane">
			{% for article in popular_articles %}
			    <a href="/article/{{article.pk}}"style="color:white; text-decoration: none;">
					<center style="width:280px;" >
						{% ifequal article.type.name "Noticias" %}
							<small style="background: #21BB21; border-radius: 20px; padding-top: 3px;"> 
								&nbsp;Noticia
							</small>
							<br>
							<span style="font-size: 22px;">
								{{article.title|title|truncatewords:10}}	
							</span>
							<br>
							<p class="paragraph" style="color:#A7D5EE;">
								{{article.content|truncatewords:18}}
							</p>
						{% endifequal %}
						<div>
						{% ifequal article.type.name "Quotes" %}
							<small style="background: #FF6346; border-radius: 20px; padding-top: 3px;"> 
								&nbsp;Frase
							</small>
							<br>
							<blockquote style="border:0; padding: 0px;" >
								<p class="paragraph">{{article.content}}</p>
								<small>{{article.title}}
									<cite title="Source Title">Subido por {{article.user_id.facebook_name}}</cite>
								</small>
							</blockquote>
						{% endifequal %}

						{% ifequal article.type.name "Movies" %}
							<small style="background: #613DBB; border-radius: 20px; padding-top: 3px;"> 
								&nbsp;Pelicula
							</small>
							<br>
							<span style="font-size: 22px;">
								{{article.title|title|truncatewords:10}}	
							</span>
							<br>
							<p class="paragraph" style="color:#A7D5EE;">
								{{article.content|truncatewords:18}}
							</p>
						{% endifequal %}
						</div>
						</center>
				</a>
						
						<center>
							<hr style="margin:0px 0px 2px 0px; width:270px; border-color: #B5B5B5;">	
						</center>
				{% endfor %}
			</div>
		</div>
		
		<!-- Recent Articles -->
		<div class="span10"  style="margin-left: -8px; padding: 2px 0px 0px 10px; background-color: rgba(101,179,221,0.2);">
			<div class="span10" style="background-color:#FF6346; margin:0; padding-top:10px; height:100px;">
				<div id="myCarousel" class="carousel slide">
					<ol class="carousel-indicators" style="top:80px;">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<!-- Carousel items -->
					<div class="carousel-inner">
						{% for quote in recent_quotes %}
							<div class="{% if forloop.first %}active item{% else %}item{% endif %}">
								<center>
									<blockquote style="border:0; padding: 0px;" >
										<p class="paragraph" style="font-size:30px;">
											“{{quote.content|truncatewords:'10'}}” 
										</p>
										<small style="color:white;">
											{{quote.title}}	 
											Citado por 
											<img class="img-circle" width="34" height="30" src="https://graph.facebook.com/{{quote.user_id.facebook_id}}/picture" />
											<span class="badge badge-inverse">
												{{quote.user_id.facebook_name}}
											</span>
										</small>
									</blockquote>
								</center>
							</div>
						{% endfor %}
					</div>
					<!-- Carousel nav -->
				</div>		
			</div>
			<!-- End Recent Articles
		
			<!-- Recent News -->
			<div id="recent-wrapper" >
				{% for article in recent_news %}
					<a href="article/{{article.id}}" class="item recent-wrapper-new" style=" background-color:#21BB21; margin: 0px 1px 1px 0px; padding: 8px 7px 5px 7px; text-decoration: none;">
						<center>
							<p style="text-shadow: 2px 2px 2px black; height: 48px; padding-top:0px; color:white;
							{% if article.title|length < 25 %}
								font-size: 22px; vertical-align:
							{% elif article.title|length < 57 %}
								font-size: 18px; 
							{% else %}
								font-size: 15px;
							<strong>{{article.title|title}}</strong>				
							</p>
							{% endif %}
							">
								<strong>
									{{article.title|slice:"60"|title}}
								</strong>	
						</p>
					</center>
					<div class="recent-wrapper-article-link" href="article/{{article.pk}}" style="color:white;">
						<center>	
							<!-- This code determine the font-size of the title depending on the lenght of the title -->
							{% if article.photo %}
								<img class="span2" style= "margin:0 0 6px 0; width: 220px; height: 164px; border:black solid 1px;" src="{{MEDIA_URL}}{{article.photo}}" alt="">
							{% else %}

								<img class="span2" style= "margin:0 0 6px 0; width: 220px; height: 164px; border:black solid 1px;" src="{{STATIC_URL}}img/no_image.gif" alt="">
							{% endif %}
						</center>
					</div>

					<div class="recent-wrapper-article-real-link" href="article/{{article.pk}}" style="color:white; display: none; font-size: 18px; height: 168px;">
						<p class="paragraph">{{article.content|truncatechars:"170"}}</p>
					</div>

					<legend style = "margin:4px 0px 2px 0px;"> </legend>

					<span style = "font-size:14px; color:white; text-shadow: 2px 2px 2px black; margin-bottom: -1px;">
						<img src="https://graph.facebook.com/{{article.user_id.facebook_id}}/picture" class = "img-circle" style = "width:25px; height:25px;">  
						<span class="created-by">
							-  {{article.user_id.facebook_name}}
						</span>
						<div id="star" class="star pull-right" style="margin-top:5px; " data-score="{{article.rating}}">
						</div>	
					</span>	
				</a>

			{% endfor %}
			<!-- End Recent News --> 

			<!-- Recent Movies -->
			{% for article in recent_movies %}
				<a href="article/{{article.id}}" class="item recent-wrapper-new" style="height: 120px; background:#613DBB; margin:0px 1px; width:119px;">

					<div class="span2" style=" background:#613DBB; margin:0px 1px; width:119px;">
						<center>
							<p style="text-shadow: 2px 2px 2px black; height: 20px; padding-top:0px; margin-top: 4px;  color:white; 	padding-bottom:8px;
							{% if article.title|length < 25 %}
								font-size: 20px;
								{% elif article.title|length < 60 %}
								font-size: 17px; 
							{% else %}
								font-size: 15px;
								<strong>{{article.title|title}}</strong>				
								</p>
							{% endif %}
							">	
								<strong >
									{{article.title|slice:"60"|title}}
								</strong>	
							</p>

							<div class="recent-wrapper-article-link" href="article/{{article.pk}}" style="color:white;">
								{% if article.photo %}
									<img style= "width: 95px; height: 110px; border:black solid 1px;" src="{{MEDIA_URL}}{{article.photo}}" alt="" />
								{% else %}
									<img style="width: 95px; height: 110px; border:black solid 1px;" src="{{STATIC_URL}}img/no_image.gif" alt="" />
								{% endif %}
							</div>

							<div class="recent-wrapper-article-real-link" href="article/{{article.pk}}" style="color:white; display: none; font-size: 13px; height: 110px;">
								<p class="paragraph">{{article.content|truncatechars:"160"}}
								</p>
							</div>
						</center>
					</div>
				</a>
			{% endfor %}
			<!-- End Recent News -->

			<script type="text/javascript">
				$('.scroll-pane').jScrollPane({showArrows: true});

				$('#myCarousel').carousel({
					interval: 5000,
				});
			</script>
		</div>
	</div>			
</div>
<script src="{{STATIC_URL}}js/jquery.raty.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/newsHover.js"></script>

<script>
	var star = $('.star').raty(
	{
		size      : 15,
		starOff   : 'star-off.png',
		starOn    : 'star-on.png',
		path      : '{{ STATIC_URL }}img',
		readOnly  : true,
		score: function() 
		{
			return $(this).attr('data-score');
		}
	});
</script>
{% endblock content %}