{% extends "base.html" %}

{% block title %}Jorge Luis Perez Lopez{% endblock title %}

  {% block content %}
  <div class="container">
    <div class="row" >
      <div class="span4 offset1" style="background-color:#174fa9; margin-left:30px; padding-bottom: 0px;">
        <center style="font-size: 30px;">  
          <span style="border-bottom: 3px solid; margin:0px; text-shadow: 2px 2px 2px black;">
            <div style="margin-top:11px;">
              Top Noticias
            </div>
          </span> 
        </center>

        <br>

        <hr style="margin: 2px 0px 2px 0px; border: 1px solid;">

        <!-- Left Column Top News-->
        <div id="top-news-wrapper" class="scroll-pane">
          {% for article in top_news %}
            <a id="wrapper-top-article" href="/article/{{article.id}}" >
              <span style="font-size:19px; text-shadow: 2px 2px 2px black; margin: 0px 0px 0px 4px; padding:0px;">
                {{article.title|truncatechars:36|title}}  
              </span>
              <br>
              {% if article.photo %}
                <img src="{{MEDIA_URL}}{{article.photo}}" style="float:left; height: 70px; width:100px; margin: 0px 4px" alt="">
              {% else %}
                <img src="{{STATIC_URL}}img/no_image.gif" style="float:left; height: 70px; width:100px; margin: 0px 4px" alt="">
              {% endif %}          
              <p class="paragraph" style="color:white; margin: 0px; height: 80px; font-size: 15px;">
                {{article.content|truncatechars:130}}
              </p>
            </a>
            <center>
              {% if not forloop.last %}
                <hr style="margin: 0px 0px 4px 0px; width:360px; border-color: #B5B5B5;">
              {%endif%}
            </center>
          {% endfor %}
        </div>
      </div>
      <!-- end left column top news -->

      <!-- Show all categories -->
      <div id="news-id-wrapper" class="span8 offset3" style="margin: 0px; padding: 0px; background-color: white; color:black; border:1px solid black;">
        <div class="span8" style="margin:0px; background-color: #21BB21; ">
          <ul class="nav nav-pills" style="color:black; margin: 0px; padding-left: 5px; border-bottom: 1px black solid;">
            {% for category in categories %}
              <li class="{% ifequal category article.category %}active{% endifequal %}">
                <a href="/category/{{category.pk}}" style="font-size: 16px; text-shadow: 0px 2px 2px #777; ">
                  <strong>{{category}}  </strong>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <!-- End Categories -->

        <!-- show all Recent News -->
        {% for article in recent_news %}      
          <a class="item recent-wrapper-new" href="/article/{{article.id}}" style=" background-color:#59BB59; margin: 0px 1px 1px 0px; padding: 8px 7px 5px 7px; text-decoration: none; width: 177px; height: 247px;">
            <center>
              <small style="background: #174FA9; border-radius: 20px; padding: 3px 1px 1xp 3px; color:white; font-size: 15px; "> &nbsp;{{article.category}} </small><br>
                <p style="text-shadow: 2px 2px 2px black; height: 36px; padding-top:0px; color:white;
                  {% if article.title|length < 25 %}
                    font-size: 20px;
                  {% elif article.title|length < 57 %}
                    font-size: 14px; 
                  {% else %}
                    font-size: 12px;
                  <strong>{{article.title|title}}</strong>       
                </p>
                {% endif %}
                ">
                <strong>
                  {{article.title|slice:"53"|title}}
                </strong> 
              </p>
            </center>
            <div class="recent-wrapper-article-link" href="/article/{{article.pk}}" style="color:white;">
              <!-- This code determine the font-size of the title depending on the lenght of the title -->
              {% if article.photo %}
                <center>  
                  <img class="span2" style= "margin:0 0 6px 0; width: 200px; height: 146px; border:black solid 1px;" src="{{MEDIA_URL}}{{article.photo}}" alt="">
              {% else %}
                <img class="span2" style= "margin:0 0 6px 0; width: 200px; height: 146px; border:black solid 1px;" src="{{STATIC_URL}}img/no_image.gif" alt="">
              {% endif %}
              </center>
            </div>
            <div class="recent-wrapper-article-real-link" href="/article/{{article.pk}}" style="color:white; display: none; font-size: 18px; height: 150px;">
              <p class="paragraph">
                {{article.content|truncatechars:"170"}}
              </p>
            </div>
            <legend style = "margin:4px 0px 2px 0px;"> </legend>
            <p style = "font-size:14px; color:white; text-shadow: 2px 2px 2px black; margin-bottom: -1px;">
              <img src="https://graph.facebook.com/{{article.user_id.facebook_id}}/picture" class = "img-circle" style = "width:25px; height:25px;">  
              <span class="created-by">
                -  {{article.user_id.facebook_name}}
              </span>
            </p>  
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

<script type="text/javascript" src="{{STATIC_URL}}js/newsHover.js"></script>

<script>
  $('.scroll-pane').jScrollPane({showArrows: true});
</script>
{% endblock content %}






