<!DOCTYPE html> 
<html {% block html %}{% endblock html %}>
    <head>
        <title>Wikiriodico | 
          {% block title %}
        {% endblock title %}  


      </title>


<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

       
        <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
        </style>
        <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
 <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-transition.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-dropdown.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-tooltip.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-collapse.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/js/bootstrap-carousel.js"></script>

      {% block javascript %}
             {% endblock javascript %}
     

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->



<link href="static/css/font-awesome.css" rel="stylesheet" />
<!--[if IE 7]>
    <link rel="stylesheet" href="static/css/font-awesome-ie7.min.css">
<![endif]-->

<link rel="stylesheet" href="{{STATIC_URL}}css/magicline.css">


<!-- styles needed by jScrollPane -->
<link type="text/css" href="{{STATIC_URL}}css/jquery.jscrollpane.css" rel="stylesheet" media="all" />


<!-- the jScrollPane script -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jscrollpane.min.js"></script>
<!-- the mousewheel plugin - optional to provide mousewheel support -->
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.mousewheel.js"></script>
            <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">


  


    </head>
    <body>
    {% include "header.html" %}

    <div id="wrapper">

    {% block content %}
      


    {% endblock content %}
     </div>

    {% include "footer.html" %}
<!-- latest jQuery direct from google's CDN -->
  
  
        <script src="{{STATIC_URL}}js/magicline.js"></script>
        <script src="{{STATIC_URL}}js/example.js"></script>

<script>
  
  $("#search").keyup(function()
  {
    var q = $("#search").val();
    $("#wrapper").load("search?q=" + q+"&url={{request.get_full_path}}");
  });

</script>
  </body>
  </html>


    













