
<div class="row">
	<div class="container">
		
	<div class="span12" style="margin:0px; width: 1210px;">
		{% if usuario %}
	<div style="background-color:#2A2A2A">
		<center >
			<div>

				<img src="https://graph.facebook.com/{{usuario.facebook_id}}/picture" class = "img-circle" style = "width:60px; height:60px;">  
			 		<br>
			<h1 style=" margin:0px 0px;">
				{{usuario.facebook_name}}
					
			</h1>
			</div>
		</center>
	</div>
{% endif %}
	<div id="recent-wrapper-new">
		
        <div id="search-article-wrapper" class="scroll-pane" style="background:rgba(41,41,41,1);">

		<div class="pull-right"><h1 style="margin-left:10px; margin-bottom:0px; font-size:27px; color:#E2E2E2">{{articles|length}}resultados</h1></div>

		<br>
        {% for article in articles %}

        <a id="wrapper-top-article" href="/article/{{article.id}}" >


        <span style="font-size:20px; text-shadow: 2px 2px 2px black; margin: 0px 0px 0px 4px; padding:0px;">
          {{article.title|truncatechars:39|title}}  
          </span>
          <br>
          <img src="{{MEDIA_URL}}{{article.photo}}" style="float:left; height: 70px; width:100px; margin: 0px 
          4px" alt="">
          
          <p class="paragraph" style="color:white; margin: 0px; height: 80px; font-size: 15px;">
              {{article.content|truncatechars:130}}
          </p>

        </a>
        <center>
          {% if not forloop.last %}
          <hr style="margin: 0px 0px 4px 0px; width: 1200px; border-color: #B5B5B5;">
        {%endif%}

        </center>
        
      {% endfor %}
      
        </div>


			</div>
		</div>
	</div>
		</div>


	<script type="text/javascript" src="{{STATIC_URL}}js/newsHover.js"></script>
