<style>
</style>

<div class='span9 offset2' id="searchFail" style="margin-top: 2px; margin-bottom: 10px;">
	<br>
	<h1 class="myriad-pro" style="font-size: 65px; padding-top: 8px;">
		<center>
			No se  
			{% if users %}
				encontro el usuario
			{% else %}
				<span style="font-size: 60px;">encontraron los articulos</span>
			{% endif %}
	    </center>

		</h1>
    <center>
        <img  style="border:none;" src="{{STATIC_URL}}/img/sadface.png" alt="logo" width="270px">			
	</center>
	<br>
	<div style="margin-left:'50%' ">
		<h1 class="myriad-pro" style="margin-left:10px;font-size: 70px; margin-bottom: 0px;">
			<center>
				Sugerencias
			</center>	
		</h1>
		<div style="margin-left: 5px; height: 181px;">		
			{% for article in articles %}
				{% if article.type.name == "Noticias" %}
					<a href="/article/{{article.id}}" class="item recent-wrapper-new search-fail-wrapper" style=" background-color:#21BB21; margin: 8px 1px 1px 0px; padding: 8px 7px 5px 7px; text-decoration: none; width: 157px; heigth:130px;">
						<center>
							<p style="text-shadow: 2px 2px 2px black; height: 48px; padding-top:0px; color:white;
							{% if article.title|length < 25 %}
								font-size: 20px; vertical-align:
							{% elif article.title|length < 58 %}
							font-size: 14px; 
							{% else %}
							font-size: 12px;
							 <strong>{{article.title|title}}</strong>				
							</p>
							{% endif %}
							">
								<strong>
									{{article.title|slice:"60"|title}}
								</strong>	
							</p>
						</center>
						<div class="recent-wrapper-article-link" href="/article/{{article.pk}}" style="color:white;">
							<center>	
								<!-- This code determine the font-size of the title depending on the lenght of the title -->
								{% if article.photo %}
									<img class="span2" style= "margin:0 0 6px 0; width: 160px; height: 94px; border:black solid 1px;" src="{{MEDIA_URL}}{{article.photo}}" alt="">
								{% else %}
									<img class="span2" style= "margin:0 0 6px 0; width: 160px; height: 94px; border:black solid 1px;" src="{{STATIC_URL}}img/no_image.gif" alt="">
								{% endif %}
							</center>
						</div>
						<div class="recent-wrapper-article-real-link" href="/noticia/{{article.pk}}" style="color:white; display: none; font-size: 14px; height: 68px;">
							<p class="paragraph">{{article.content|truncatechars:"120"}}</p>
						</div>	
					</a>
				{% endif %}
				{% if article.type.name == "Quotes" %}
					<a href="/article/{{article.id}}" class="item recent-wrapper-new search-fail-wrapper" style=" background-color:#FF6346; margin: 8px 1px 1px 0px; padding: 8px 7px 5px 7px; text-decoration: none; width: 157px; heigth:130px;">
						<center>
							<p style="text-shadow: 2px 2px 2px black; height: 20px; padding-top:0px; color:white;
								{% if article.title|length < 25 %}
									font-size: 20px; vertical-align:
								{% elif article.title|length < 58 %}
								font-size: 14px; 
								{% else %}
								font-size: 12px;
								 <strong>{{article.title|title}}</strong>				
								</p>
								{% endif %}
								">
									<strong>
										{{article.title|slice:"60"|title}}
									</strong>	
								<div class="recent-wrapper-article-link" 
								href="article/{{article.pk}}" style="color:white;">
									<p class="paragraph" style="font-size:17px; color:white;">
										“{{article.content|truncatechars:'100'}}” 
							  		</p>	
							  	</div>				
							</p>
							<div class="recent-wrapper-article-real-link" href="/noticia/{{article.pk}}" style="color:white; display: none; font-size: 14px; height: 68px;">
								<center>
									<span style="font-size:20px;">	
										<strong>
											Citado por
										</strong> 
									</span>
									<br>
									<img src="https://graph.facebook.com/{{user.facebook_id}}/picture?type=large" class="img-circle" style="width:66px; height66px; margin-left: 10px;">
									<br>
									<h3 style="margin-top:0px">{{user.facebook_name|slice:":13"}} 
									</h3>
								</center>
							</div>	
						</center>
					</a>
				{% endif %}
				{% if article.type.name == "Movies" %}
					<a href="article/{{article.id}}" class="item recent-wrapper-new" style="height: 168px; background:#613DBB; margin:8px 1px 1px 0px; width:110px;">
						<center>
							<p style="text-shadow: 2px 2px 2px black; height: 20px; padding-top:0px; color:white; padding-bottom:0px;
							{% if article.title|length < 25 %}
								font-size: 22px; vertical-align:
							{% elif article.title|length < 60 %}
							font-size: 17px; 
							{% else %}
							font-size: 15px;
							 <strong>{{article.title|title}}</strong>				
							</p>
							{% endif %}
							">
								<strong>
									{{article.title|slice:"60"|title}}
								</strong>	
							</p>
							<div class="recent-wrapper-article-link" href="article/{{article.pk}}" style="color:white;">
								{% if article.photo %}
									<img style= "width: 105px; height: 134px; border:black solid 1px;" src="{{MEDIA_URL}}{{article.photo}}" alt="" />
								{% else %}
									<img style="width: 105px; height: 134px; border:black solid 1px;" src="{{STATIC_URL}}img/no_image.gif" alt="" />
								{% endif %}
							</center>
							<div class="recent-wrapper-article-real-link" href="/noticia/{{article.pk}}" style="color:white; display: none; font-size: 14px; height: 68px;">
								<p class="paragraph">
									<center>
										{{article.content|truncatechars:"120"}}
									</center>
								</p>
							</div>	
						{% endif %}
					{% endfor %}
					{% for user in users %}
						<div class="span2" style="width:150px; margin-left:12px; margin-top: 5px;">
							<center>
								<img src="https://graph.facebook.com/{{user.facebook_id}}/picture?type=large" class="img-circle" style="width:100px; height:100px; margin-left: 10px;">
								<br>
								<h3>
									{{user.facebook_name|slice:":13"}} 
								</h3>
							</center>
						</div>
					{% endfor %}
				</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/newsHover.js">
</script>